# Папка для сборки. Содержит скомпилированные файлы, которые нам не нужны.
build/

# Настройки редактора VS Code. У каждого разработчика могут быть свои.
.vscode/

# Случайно сгенерированные SSH ключи
\.pub
\